@import url('//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0/katex.min.css');
@import url('https://fonts.googleapis.com/css?family=Barlow');

body {
  font-family: 'Barlow';
  align-content: left;
  background-color: #4a4a4a;
  color: #ffffff;
}

/* div */
div {
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
}

.bullet-point {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.nav-div {
	border: 1px solid transparent;
	background-color: #5c5c5c;
	margin-left: 2vw;
	margin-right: 2vw;
	text-align: center;
}

/* a */
a {
	color: #c7dcff;
	text-decoration: none;
}

a:hover {
	color: #8c9cb8;
}

/* p */
p {
  font-size: 1.2vw;
}

@media (max-width: 600px) { /* for mobile devices */
	p {
		font-size: 6vw;
		padding-left: 10px;
		padding-right: 10px;
	}
	.smalltext {
		font-size: 4vw;
	}
}

.nav-link {
	margin-right: 2vh;
}

.smalltext {
	text-align: center;
	font-size: 0.8vw;
	margin-left: 2vw;
	margin-right: 2vw;
}

/* tables */
table, td, th {
	color: #ffffff;
	font-size: 1.2vw;
	line-height: normal;
	text-align: center;
	justify-content: center;
	align-items: center;
	border: 3px solid white;
	border-collapse: collapse;
	margin-bottom: 10px;
	margin: auto;
}
td, th {
	max-width: 40vw;
	padding: 10px;
}